#main_Tetris{
    float: left;
    width: 300px;
    height: 80vh;
    background-color: black;
}
td{
    background-color: rgb(32, 32, 32);
}


td{
    padding: 0px;
    border: 0px;
}

#_0tr{
    height: 3%;
}

._21-i{
    background-color: white;
    border: white;
}
#_nextImg{
    display: inline-block;
    margin-left: 10px;
    line-height: 18.5vh;
    vertical-align:middle;
    text-align: center; 
    width: 25vh;
    height: 20vh;
    background-color: black;
}

body{
    background-color: #DDDDDD;
}

#_BGMPlay{
    display: block;
}

button{
    margin-left: 10px;
}

#comboBox{
    background-color: #DDDDDD;
    font-size: 20px;
}